.section_1 {
}
.section_1 .QuickBuy {
  box-shadow: 8px 8px 30px #e9ecef;
  border-radius: 10px;
  margin: 0 80px;
  position: relative;
  top: -50px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  direction: rtl;
  padding: 30px;
}

.section_1 .QuickBuy .items{
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 200px;
  margin: 20px 0;
}
.section_1 .QuickBuy .items i{
  color: #e82574;
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
}
.section_1 .QuickBuy a{
  padding: 20px 30px;
  background: #e82574;
  transition: 0.3s;
  display: block;
  color: white;
  border-radius: 10px;
}
.section_1 .QuickBuy a:hover{
  background: #b80f52;
  transition: 0.3s;
}
.aboutUs {
  width: 100%;
  padding: 7rem 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.aboutUs .image {
  width: 46%;
  border-radius: 10px;
  overflow: hidden;
  background: red;
}
.aboutUs .image img {
  width: 100%;
  height: 100%;
}
.aboutUs .text {
  direction: rtl;
  width: 46%;
}
.aboutUs .text h3 {
}
.aboutUs .text h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #e82574;
  position: relative;
  bottom: 17px;
  right: 120px;
}
.aboutUs .text h1 {
  font-size: 40px;
  margin-top: 1.5rem;
}
.aboutUs .text p {
  margin-top: 1.5rem;
  color: #78716c;
}
.buyClothes {
  margin: 1rem 5rem;
}
.buyClothes > p {
  direction: rtl;
  color: black;
  position: relative;
}
.buyClothes > p::after {
  content: "";
  display: block;
  background: #e82574;
  height: 2px;
  width: 80px;
  position: absolute;
  right: 170px;
  bottom: 13px;
}
.buyClothes > h2 {
  direction: rtl;
  color: black;
  font-size: 36px;
}
.buy {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.buy .cards {
  width: 31%;
  min-width: 10px;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(212, 212, 212);
  background: white;
  direction: rtl;
}
.buy .cards img {
  height: 250px;
  width: 100%;
}
.buy .cards h4 {
  margin: 5px 20px;
}
.buy .cards p {
  font-size: 18px;
  margin: 10px 20px;
  color: #78716c;
}
.buy .cards p:nth-child(4) {
  font-weight: bold;
}
.buy .cards p span {
  color: black;
}
.buy .cards button {
  padding: 10px 35px;
  background: #e82574;
  color: white;
  font-size: 20px;
  margin: 20px 20px;
  border-radius: 10px;
  transition: 0.3s;
}
.buy .cards button:hover {
  background: #b80f52;
  transition: 0.3s;
}
.services {
  background: url("../img/service.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
}
.services .card {
  height: 100%;
  background: white;
  width: 90%;
  margin-right: 80px;
  max-width: 600px;
  padding: 30px 80px;
}
.services .card > p {
  text-align: right;
  position: relative;
}
.services .card > p::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #e82574;
  right: 70px;
  top: 55%;
  position: absolute;
}
.services .card > h3 {
  text-align: right;
  font-size: 40px;
  margin-top: 10px;
}
.services .card li {
  direction: rtl;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.services .card li:nth-child(1) span {
  background: #dbeafe;
}
.services .card li:nth-child(1) i {
  color: #60a5fa;
}
.services .card li:nth-child(2) span {
  background: #fce7f3;
}
.services .card li:nth-child(2) i {
  color: #f472b6;
}
.services .card li:nth-child(3) span {
  background: #f3e8ff;
}
.services .card li:nth-child(3) i {
  color: #c084fc;
}
.services .card li:nth-child(4) span {
  background: #ffe4e6;
}
.services .card li:nth-child(4) i {
  color: #fb7185;
}
.services .card li span {
  display: inline-block;
  padding: 15px;
  background: #dbeafe;
  border-radius: 50%;
  margin-left: 20px;
}
.services .card span i {
  font-size: 40px;
}
.bannerContent {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerContent .content {
  max-width: 1400px;
  min-width: 90%;
  margin: 100px 50px;
  padding: 0 20px;
  box-shadow: 0 0 30px rgb(221, 221, 221);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.bannerContent .content .items {
  text-align: center;
  flex-grow: 1;
  padding: 30px 40px;
}
.bannerContent .content .items > h3 {
  font-size: 30px;
}
.bannerContent .content .items > p {
  font-size: 26px;
  color: #78716c;
}
.todayBrand {
  background: white;
}
.todayBrand > p {
  max-width: 200px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
.todayBrand > p::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background: #e82574;
  position: relative;
  top: -13px;
  right: 40px;
}
.todayBrand h1 {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}
.todayBrand .newBrand {
  margin-top: 100px;
  height: 400px;
  background: url("../img/gucci_brand.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.todayBrand .newBrand .card {
  direction: rtl;
  background: white;
  padding: 30px;
  margin-right: 50px;
  border-radius: 5px;
}
.todayBrand .newBrand .card p:nth-child(1) {
  color: #78716c;
}
.todayBrand .newBrand .card p:nth-child(2) {
  margin-top: 10px;
  color: black;
  max-width: 350px;
}
.todayBrand .newBrand .card button {
  padding: 10px 30px;
  margin-top: 20px;
  font-size: 22px;
  border: 1px solid #e82574;
  background: white;
  color: #e82574;
  border-radius: 5px;
  transition: 0.3s;
}
.todayBrand .newBrand .card button:hover {
  background: #b80f52;
  color: white;
  transition: 0.3s;
}
