.footer {
  color: #78716c;
  background: #0c0a09;
  padding: 0 80px 20px;
  border-top: 1px solid transparent;
}
.footerContainer {
  margin: 150px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  direction: rtl;
}
.footer_col .title {
  color: white;
  font-weight: normal;
  font-size: 30px;
}
.footer_col .subTitle {
  font-size: 18px;
  margin-top: 10px;
  transition: 0.4s;
}
.footer_col .subTitle:hover {
  color: white;
  transition: 0.4s;
}
.footerContainer .col_1 img {
  max-width: 120px;
}
.footerContainer .col_1 button {
  background: #e82574;
  color: white;
  transition: 0.4s;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
}
.footerContainer .col_1 button:hover {
  background: #b80f52;
  transition: 0.4s;
}
.footerContainer .col_1 p {
  font-size: 18px;
  margin-top: 20px;
}
.footerBar > p {
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
}

