@font-face {
  font-family: iranSans;
  src: url("../fonts/IRANSans.ttf");
}
* {
  font-family: iranSans;
}
.container {
  max-width: 1800px;
  margin: 0 auto;
}
.header {
  background-image: url("../img/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid transparent;
  border: 1px solid transparent;
}
.header .nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  margin: 0 80px;
}
.header .nav_bar label i{
  display: none;
}
.header .nav_bar #MenuCheckBox {
  display: none;
}

.header .nav_bar .logo {
  max-width: 120px;
}
.header .nav_bar .logo img {
  max-width: 100%;
}
.header .nav_bar ul li {
  display: inline-block;
}
.header .nav_bar ul li a {
  color: white;
  margin: 0 7px;
  padding: 10px;
  font-size: 20px;
  direction: rtl;
}
.header .nav_bar ul li a::after {
  content: "";
  display: block;
  height: 2px;
  background: #e82574;
  width: 0;
  margin: 5px 0 0 0;
  transition: 0.3s;
  border-radius: 2px;
}
.header .nav_bar ul li a:hover::after {
  width: 100%;
  transition: 0.3s;
}
.header button {
  background: #e82574;
  color: white;
  transition: 0.4s;
  padding: 10px 20px;
  border-radius: 5px;
}
.header button:hover {
  background: #b80f52;
  transition: 0.4s;
}
.header > p {
  text-align: center;
  color: rgb(194, 194, 194);
  font-size: 26px;
  margin-top: 11rem;
}
.header > h1 {
  text-align: center;
  color: white;
  font-size: 3.5rem;
  margin-bottom: 11rem;
}
.header > h1 > span {
  color: #e82574;
}

