@media only screen and (max-width: 992px) {
  .header .nav_bar .logo {
    display: none;
  }
  .header .nav_bar {
    margin: 0 20px;
  }
  .header .nav_bar ul li a {
    margin: 0 5px;
  }
  .footerContainer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .buy {
    flex-wrap: wrap;
  }
  .buy .cards {
    width: 45%;
    margin-top: 30px;
  }
  .aboutUs {
    padding: 7rem 2rem;
  }
  .aboutUs .text h3 {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .header .nav_bar label i {
    display: inline-block;
    transition: 0.3s;
  }
  .header button {
    display: none;
  }
  .header .nav_bar {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    background: #b80f52;
    height: 70px;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  .header .nav_bar .menuIcon {
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: white;
    right: 50px;
    top: 20px;
  }
  .header .nav_bar #MenuCheckBox:checked + label +ul {
    transition: 0.5s;
    right: 0;
    opacity: 1;
  }
  .header .nav_bar #MenuCheckBox:checked + label >i{
    rotate: -90deg;
    transition: 0.3s;
  }
  .header .nav_bar ul {
    position: relative;
    right: -800px;
    top: 32px;
    display: block;
    width: 100%;
    transition: 0.5s;
    opacity: 0;
  }
  .header .nav_bar ul li {
    display: block;
    width: 100%;
  }
  .header .nav_bar ul li a {
    display: block;
    text-align: center;
    margin: 0;
    background: #e82574;
    padding: 20px 0;
  }
  .header .nav_bar ul li a::after {
    display: none;
  }
  .header > p {
    font-size: 22px;
  }
  .header > h1 {
    font-size: 3rem;
  }
  .footer {
    padding: 0 50px 20px;
  }
  .footerContainer {
    margin-top: 100px;
  }
  .buyClothes {
    margin: 1rem 3rem;
  }
  .buy {
    padding: 0 1em;
  }
  .services .card {
    margin-right: auto;
    margin-left: auto;
  }
  .aboutUs {
    padding: 7rem 5rem;
  }
  .aboutUs .image {
    width: 100%;
  }
  .aboutUs .text {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .header > p {
    font-size: 18px;
    margin-top: 7rem;
  }
  .header > h1 {
    font-size: 2rem;
    margin-bottom: 7rem;
  }
  .section_1 .QuickBuy {
    justify-content: center;
  }
  .footerContainer {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    margin-top: 50px;
  }

  .buy {
    padding: 0;
  }
  .buy .cards {
    width: 90%;
    margin: 30px auto;
  }
  .todayBrand .newBrand {
    justify-content: center;
  }
  .todayBrand .newBrand .card {
    margin-right: 0;
  }
  .buyClothes {
    margin: 1rem 1rem;
  }
}
